<nav class="navbar admin navbar-expand-md fixed-top bg-warning">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Soft Living Motors</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarsExample04">
        <ul class="navbar-nav">
         <li class="nav-item">
            <a class="nav-link active px-3" aria-current="page" href="/ourcars"><b>Our cars</b></a>
          </li>
            <li class="nav-item">
            <a class="nav-link active px-3" aria-current="page" href="/new"><b>Add new Car</b></a>
          </li>
          <!--<li class="nav-item">
            <a class="nav-link active px-3" aria-current="page" href="#"><b>Contact</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link active px-3" aria-current="page" href="#"><b>Profile</b></a>
          </li> -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#!">Activity Log</a></li>
                <li><hr class="dropdown-divider" /></li>
                <li><a class="dropdown-item" href="/logout">Logout</a></li>
            </ul>
        </li>
        </ul>
      </div>
    </div>
  </nav>